<!-- current_user's message -->
<% if message.user == current_user %>
<div class="msg msg-sent">
  <strong><%= message.user.username %></strong>
  <span> <%= message.body %> </span>
  <div class="msg-status"><span> <%= message.created_at.strftime("%H:%M") %> </span><ion-icon name="checkmark-done-outline"></ion-icon></div>
</div>
<% else %>
<div class="msg msg-recieved">
  <strong><%= message.user.username %>:</strong>
  <span> <%= message.body %> </span>
  <div class="msg-status"><span> <%= message.created_at.strftime("%H:%M") %> </span></div>
</div>
<% end %>
