    <div class="login">
      <div class="app--info">
        <%= image_tag "login-desktop.svg", alt: "Chatilustration", class: "login--img" %>

        <p>Enjoy live chatting with your friends!</p>
      </div>
      <div class="login--section">
        <div class="login--section__header">
          <h1>Login</h1>

          <p class="login--section__subheader">Please enter your credentials</p>
        </div>


        <%= form_for(:session, html: {role: "form", class: "login--section__form"}, url: login_path) do |f| %>

          <div class="login--input">
            <ion-icon name="person-circle-outline" class="login--icon"></ion-icon>
            <%= f.text_field :username, placeholder: "Username" %>
          </div>

          <div class="login--input">
            <ion-icon name="person-circle-outline" class="login--icon"></ion-icon>
          <%= f.password_field :password, placeholder: "Password" %>
          </div>

          <%= f.submit "Login", class: "login--submit" %>
        <% end %>
      </div>
    </div>

